{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "semi": ["warn", "always"],
    "object-curly-spacing": ["warn", "always"],
    "comma-dangle": ["warn", "never"],
    "quotes": ["warn", "single"],
    "eqeqeq": "warn"
  }
}
